* {
  box-sizing: border-box;
}

html {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.header {
  padding: 20px;
  display: inline;
  text-align: center;
}

.title {
  color: red;
}

.header h3 {
  color: red;
}

#topnav {
  overflow: hidden;
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#topnav a.right{
  float: right;
  display: inline;
  text-align: center;
  padding: 14px 20px;
}

#topnav a:hover {
  background-color: #ddd;
  color: black;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

img {
  flex: 1;
  height: auto;
  width: 500px;
  padding: 10px;
  float: left;
}

.rightsiderow {
  text-align: left;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
}

.apps-container {
  width: 100%;
}


